<div style='margin: 10px 15px 0 15px;'>
  <table>
    <tr><td colspan="2"><strong>Merimerkit:</strong></td></tr>
    <tr>
      <td width="40" align="center"  ><img src="diagrams/NChart_ECDIS_Cardinal_simple_Beacon_N.svg" width="20"/></td><td>Pohjoisviitta</td>
    </tr>
    <tr>
      <td width="40" align="center" ><img src="diagrams/NChart_ECDIS_Cardinal_simple_Beacon_S.svg" width="20"/></td><td>Eteläviitta</td>
    </tr>
    <tr>
      <td width="40" align="center" ><img src="diagrams/NChart_ECDIS_Cardinal_simple_Beacon_E.svg" width="20"/></td><td>Itäviitta</td>
    </tr>
    <tr>
      <td width="40" align="center" ><img src="diagrams/NChart_ECDIS_Cardinal_simple_Beacon_W.svg" width="20"/></td><td>Länsiviitta</td>
    </tr>
    <tr>
      <td width="40" align="center" ><span style="color: green;" width="20">•</span></td><td>Oikea</td>
    </tr>
    <tr>
      <td width="40" align="center" ><span style="color: red;" width="20">•</span></td><td>Vasen</td>
    </tr>
    <tr>
      <td width="40" align="center" ><img src="diagrams/lighthouse-15.svg" width="20"/></td><td>Loisto</td>
    </tr>
    <tr>
      <td width="40" align="center" ><img src="diagrams/NChart_ECDIS_IsolatedDanger_simple_Beacon.svg" width="20"></td><td>Karimerkki</td>
    </tr>
    <tr>
      <td width="40" align="center"><img src="diagrams/rock-cross.svg" width="20" ></td><td>Kivi <strong style="font-size: 0.7em">(vain Tampere - Virrat)</strong></td>
    </tr>
    <tr>
      <td width="40" align="center" ><img src="diagrams/monument-15.svg" width="20"></td><td>Kummeli</td>
    </tr>
  </table>
</div>