<div class="alert alert-warning alert-dismissible fade in" id="disclaimer" role="alert" style="top: 0; left: 0; position: absolute;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Tervetuloa POIJU.IO appiin!</strong> Muistathan, että tämä sovellus on kehitysvaiheessa eikä sovellu turvalliseen navigointiin. Datasta puuttuvat esimerkiksi kivien karttamerkit, joten vältä erityisesti matalikkoja ja tarkista aina reittivalintasi virallisesta merikartasta.
</div>

<div class="modal fade license-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="text-align:center">
        <p>
          <strong>The MIT License (MIT)</strong>
        </p>
        <p><strong>Copyright © 2016 POIJU.IO</strong><br/><br/>
        <a href="https://github.com/iaue/poiju.io" style="color: black">https://github.com/iaue/poiju.io</a>
        </p>
        <p><strong>Kartta-aineiston lähteet:</strong><br/><br/>
        Liikennevirasto 06/2016<br/>Ei navigointikäyttöön. Ei täytä virallisen merikartan vaatimuksia.<br/><br/>
        Maanmittauslaitoksen Maastotietokanta 06/2016
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade location-modal-sm" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="text-align:center">
        <p>
          <p>
            <strong>Lat: </strong><span class="lat"></span>
          </p>
          <p>
            <strong>Long: </strong><span class="long"></span>
          </p>
        </p>
      </div>
      <div class="modal-footer">
         <button type="button" onclick="myNavFunc()" class="btn btn-default">Avaa kartalla</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
      </div>
    </div>
  </div>
</div>