<div id="sidr" style="z-index: 1; overflow-y: auto; overflow-x: hidden;">
    <!-- Your content -->
    <div style="background-color: black">
      <img style="margin: 0 0 0 0; top: 0 " width="260" src="poiju-logo-menu.png">
    </div>
    
    <div>
      <div id="searchLocation" />
    </div>

    <!-- Location modal JS: -->
    <script type="text/javascript">

      $('#locationModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.lat').text( localStorage.getItem( 'lastLat' ) )
        modal.find('.long').text( localStorage.getItem( 'lastLong' ) )
      })

      function myNavFunc(){
          // If it's an iPhone..
          if( (navigator.platform.indexOf("iPhone") != -1) 
              || (navigator.platform.indexOf("iPod") != -1)
              || (navigator.platform.indexOf("iPad") != -1))
               window.open("maps://maps.google.com/maps?daddr=" + localStorage.getItem( 'lastLat' ) + "," + localStorage.getItem( 'lastLong' ) + "&amp;ll=");
          else
               window.open("http://maps.google.com/maps?daddr=" + localStorage.getItem( 'lastLat' ) + "," + localStorage.getItem( 'lastLong' ) + "&amp;ll=");
      }
    </script>

    <script type="text/javascript">
      function clearRoute() {
        document.getElementById("routeFile").value = "";
        map.removeLayer('route');
        map.removeSource('routePlan')
        localStorage.removeItem('savedRoutePlan');
        $('#clearRouteButton').hide();
      }
    </script>

    <ul>
      <li><a data-toggle="modal" id="locationMenu" data-target=".location-modal-sm">Sijainti</a></li>
      <li><a data-toggle="modal" id="licenseMenu" data-target=".license-modal-sm">Lisenssitiedot</a></li>
    </ul>
     <div style='padding: 15px;'>
      <div style='margin-bottom: 5px'>Lataa reittisuunnitelma <span style="font-size: 0.8em">(beta)</span>:</div>
      <input type="file" id="routeFile" accept=".kml" style="font-size: 0.7em; max-width: 230px">
      <a id="clearRouteButton" style="font-size: 0.8em; color: white;" onclick="clearRoute()">Poista</a>
    </div>
    <ul></ul>
    <% include ../partials/merimerkit.ejs %>
    
    <div class="rocksDisclaimer"><p><strong>Huom:</strong> karttaan ei ole merkitty kaikkia yksittäisiä kiviä - tarkista kivien sijainti merikartasta.</p></div>

    <div style='padding: 10px 15px 0 15px;'>
      <table>
        <tr><td colspan="2"><strong>Paikannusasetukset:</strong></td></tr>
        <tr id="locationUpdateSwitch">
          <td>Päivitä:</td><td align="right"><input type="checkbox" name="update-location"/></td>
        </tr>

        <tr>
          <td>Seuraa:</td><td align="right"><input id="locationTrackingSwitch" type="checkbox" name="follow-location"/></td>
        </tr>
      </table>
    </div>

    <ul style="margin-top: 40px">
      <li>
        <div style="display:flex;justify-content:center;align-items:center;">
          <a href="https://go.taplause.com/BkyuTguL" style="color: grey;" target="_blank">Anna palautetta</a>
        </div>
      </li>
    </ul>
    <!--<div style="padding: 15px" class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>-->
    <div style="padding-bottom: 80px;"></div>
  </div>

  <!-- Add swipe control to menu -->
  <script src="//cdn.jsdelivr.net/jquery.touchswipe/1.6.15/jquery.touchSwipe.min.js"></script>
  <script>
  $('#sidr').swipe( {
      //Single swipe handler for left swipes
      swipeLeft: function () {
          $.sidr('close', 'sidr');
      },
      swipeRight: function () {
          // Do nothing
      },
      //Default is 75px, set to 0 for demo so any distance triggers swipe
      threshold: 45,

      allowPageScroll:"vertical"
  });
  </script>

  <script>
  $(document).ready(function() {
    $('#side-menu').sidr( { onCloseEnd : resetMenuScroll } );
  });

  // Reset scroll on menu - currently not working:
  function resetMenuScroll() {
    document.getElementById('sidr').scrollTop = 0
    //$('#sidr').scrollTop();
  }

  $("[name='update-location']").bootstrapSwitch({size: 'mini', state : localStorage.getItem('updateLoc') === 'true' ? true : false , onSwitchChange : updateLocSetting });
  $("[name='follow-location']").bootstrapSwitch({size: 'mini', state : localStorage.getItem('followLoc') === 'true' ? true : false , onSwitchChange : followLocSetting });

  function updateLocSetting( event, state ) {
    localStorage.setItem( 'updateLoc' , state );
  }

  function followLocSetting( event, state ) {
    localStorage.setItem( 'followLoc' , state );
    console.log( state )
  }

  $("#clearRouteButton").hide()

  </script>